@model Alstar.Models.mNews
@{
    Alstar.Models.database.AlstarDb AlstarDb = new Alstar.Models.database.AlstarDb();
}
<div class="page-content-wrapper ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row align-items-center">
                        <h4>
                            ویرایش خبر
                        </h4>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end page-title-box -->
            </div>
        </div>
        <!-- Content Header (Page header) -->
        @using (Html.BeginForm("BlogPost", "mBlog", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal" }))
        {
            if (ViewBag.error != null)
            {
                <div class="col-md-8 form-group" style="margin-top:30px;margin-right:3px;">
                    <div class="alert alert-dismissable alert-danger">
                        @ViewBag.error
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <form class="">
                                <div class="box-body">
                                    @Html.TextBoxFor(model => model.news_id, new { @type = "hidden" })
                                    @Html.TextBoxFor(model => model.news_visit, new { @type = "hidden" })
                                    <div class="form-group">
                                        <input type="hidden" name="news_image" id="news_image" value="@Model.news_image" />
                                        <label class="col-sm-2 control-label" for="img_file">تصویر   :</label>
                                        <div class="col-sm-2">
                                            <img src="~/images/blogs/@Model.news_image" width="70" height="70" />
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="file" name="img_file" id="" value="@Model.news_image" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="news_title">عنوان : </label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(model => model.news_title, new { @placeholder = "عنوان", @class = "form-control force" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="news_date"> تاریخ :</label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(model => model.news_date, new { @placeholder = "تاریخ", @class = "form-control force" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="news_writer"> نویسنده :</label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(model => model.news_writer, new { @placeholder = "نویسنده", @class = "form-control force" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="news_img_alt"> متن جایگزین تصویر :</label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(model => model.news_img_alt, new { @placeholder = "متن جایگزین تصویر", @class = "form-control force" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="box-body pad">
                                            <label class="col-sm-2 control-label" for="news_summery"> خلاصه  :</label>
                                            <div class="col-sm-10">
                                                <textarea id="news_summery" name="news_summery" rows="10" cols="70">@Model.news_summery</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="box-body pad">
                                            <label class="col-sm-2 control-label" for="news_exp"> شرح  :</label>
                                            <div class="col-sm-10">
                                                <textarea id="news_exp" name="news_exp" rows="10" cols="70">@Model.news_exp</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-info pull-right sub_validation">ثبت</button>
                                </div>
                                <!-- /.box-footer -->
                            </form>
                        </div>
                        <!-- /.box -->
                    </div>
                    <!--/.col (right) -->
                </div>
                <!-- /.row -->
                </div>
        <!-- /.content -->
        }

    </div>
</div>
        <script src="~/panel/bower_components/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap 3.3.7 -->
        <script src="~/panel/bower_components/ckeditor/ckeditor.js"></script>
        <!-- Bootstrap WYSIHTML5 -->
        <!--<script src="../../plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>-->
        <!-- TinyMCE Editor -->
        <script src="~/panel/bower_components/tinymce/tinymce.min.js"></script>
        <script>
            tinymce.init({
                selector: 'textarea#mytextarea',
                plugins: 'advlist autolink link lists preview table code pagebreak',
                menubar: false,
                language: 'fa',
                height: 300,
                relative_urls: false,
                toolbar: 'undo redo | removeformat preview code | fontsizeselect bullist numlist | alignleft aligncenter alignright alignjustify | bold italic | pagebreak table link',
            });
            $(function () {
                CKEDITOR.replace('news_summery')
                $('.textarea').wysihtml5()
            })
            $(function () {
                CKEDITOR.replace('news_summery_en')
                $('.textarea').wysihtml5()
            })
            $(function () {
                CKEDITOR.replace('news_exp')
                $('.textarea').wysihtml5()
            })
            $(function () {
                CKEDITOR.replace('news_exp_en')
                $('.textarea').wysihtml5()
            })
        </script>
