@model IEnumerable<Alstar.Models.mNews>
@{
    Alstar.Models.database.AlstarDb AlstarDb = new Alstar.Models.database.AlstarDb();
    Alstar.da.daCategory c = new Alstar.da.daCategory();
}
<div class="page-content-wrapper ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="">
                        <button class="btn btn-danger delete" type="submit">
                            <span class="fa fa-trash"></span>
                            حذف
                        </button>
                        @Html.ActionLink("جدید", "BlogGet", "mBlog", "", new { @class = "btn btn-success" })
                    </div>
                </div>
            </div>
        </div>
        <!-- Main content -->
        <div class="row">
            <div class="col-12">
                <div class="card m-b-30">
                    <div class="card-body">
                        <h4 class="mt-0 header-title"> </h4>
                        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>تصویر </th>
                                    <th>عنوان</th>
                                    <th>تاریخ </th>
                                    <th>نویسنده </th>
                                    <th>ویرایش</th>
                                    <th>حذف</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="@item.news_id">
                                        <td>
                                            <img width="70" height="70" src="~/images/blog/@item.news_image" />
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.news_title)</td>
                                        <td>@Html.DisplayFor(modelItem => item.news_date)</td>
                                        <td>@Html.DisplayFor(modelItem => item.news_writer)</td>
                                        <td><a href="~/mBlog/BlogGet?pId=@item.news_id" class="btn btn-info icon-preview"><i data-toggle="tooltip" data-placement="right" data-original-title="ویرایش" class="dripicons-pencil"> </i></a></td>
                                        <td><input value="@item.news_id" name="radioSelect" type="radio"></td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        @{
                            decimal vCount = (from a in AlstarDb.tbl_news
                                              select a).Count();
                            decimal vPage = vCount / 15;
                        }
                        <div class="col-12" dir="rtl">
                            <div class="pagination-wrap text-center">
                                <ul>
                                    @if (c.IsDecimal(vPage))
                                    {
                                        vPage++;
                                    }
                                    @for (int i = 1; i <= vPage; i++)
                                    {
                                        <li><a href="~/mBlog/fGetPage?pPageNum=@i&pAction=Index">@i</a></li>
                                    }
                                </ul>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
        </div>
        <!-- /.content -->

        @section scripts{
            <script>
                $('.delete').click(function (event) {
                    url = get_current_url();
                    event.preventDefault();
                    var r = confirm("آیا از حذف رکورد اطمینان دارید؟");
                    if (r == true) {
                        var pIds = $('input[name="radioSelect"]:radio:checked').val();
                        $.ajax({
                            url: url + '/RemoveNews',
                            dataType: "json",
                            data: { "pId": pIds },
                            type: "POST",
                            async: "true",
                            cache: false,
                            beforeSend: function () {
                            },
                            success: function (data) {
                                $("#" + pIds).remove()
                            }
                        });
                    }
                });
                function get_current_url() {
                    project = window.location.pathname.split('/');
                    url = window.location.protocol + '//' + window.location.host + '/' + project[1];
                    return url;
                }
            </script>
        }



